.logo {
  margin-top: 30px;
}

li {
  margin: 7px;
}

ul {
  margin-top: 20px;
}

.contact {
font-size: 18px;
}

.number {
  padding-right: 12px;
}

.email {
  padding-left: 5px;
}

.contact-us {
  padding-right: 5px;
}

.links {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  padding-bottom: 35px;
}

.intro-text {
  font-size: 16px;
}

@media (max-width: 600px) {
  .links {
    padding-bottom: 15px;
  }
}

.phone {
  padding-left: 20px;
}
