.logo {
  margin-top: 30px;
}

.intro-text {
  padding-left: 200px;
  padding-right: 200px;
}

li {
  margin: 7px;
}

ul {
  margin-top: 20px;
}

.list {
  /*padding-left: 70px;*/
}

.contact {
padding-left: 420px;
padding-right: 200px;
}

.number {
  padding-right: 12px;
}

.email {
  padding-left: 5px;
}

.contact-us {
  padding-right: 5px;
}

.links {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

.link-tag {
  padding: 12px;
}
