.logo {
  margin-top: 30px;
}

.intro-text {
  padding-left: 200px;
  padding-right: 200px;
}

li {
  margin: 7px;
}

ul {
  margin-top: 20px;
}

.contact {
font-size: 18px;
}

.number {
  padding-right: 12px;
}

.email {
  padding-left: 5px;
}

.contact-us {
  padding-right: 5px;
}

.link-tag {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  padding-bottom: 35px;
}


@media (max-width: 600px) {
  .links {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    padding-bottom: 35px;
  }
  .link-tag {
    padding: 10px;
  }
}
